@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background: var(--light-gray);
}

main {
  width: 100%;
  min-height: 100vh;
}
main .card {
  border-radius: 0.5em;
  border: none;
  overflow: hidden;
}
main section:nth-child(1) h4 {
  color: var(--cyan);
  font-weight: 700;
}
main section:nth-child(1) #cap {
  color: var(--bright-yellow);
  font-weight: 700;
}
main section:nth-child(1) #details {
  color: var(--grayish-blue);
}
main section:nth-child(2) {
  background: hsl(179deg, 62%, 41%);
}
main section:nth-child(2) h4 {
  color: var(--light-gray);
  font-weight: 700;
}
main section:nth-child(2) div {
  margin-bottom: 0.5em;
}
main section:nth-child(2) div h1 {
  margin-bottom: 0;
  font-weight: 600;
  color: #fff;
}
main section:nth-child(2) div > span {
  padding-left: 1em;
  color: var(--light-gray);
  opacity: 0.7;
}
main section:nth-child(2) p {
  color: var(--light-gray);
}
main section:nth-child(2) a {
  text-decoration: none;
  font-weight: 700;
  display: block;
  color: #fff;
  background: var(--bright-yellow);
  text-align: center;
  padding: 0.8em;
}
main section:nth-child(3) {
  background: var(--cyan);
}
main section:nth-child(3) h4 {
  color: var(--light-gray);
  font-weight: 700;
}
main section:nth-child(3) p {
  color: var(--light-gray);
  opacity: 0.8;
}

@media (min-width: 47.94em) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a a" "b c";
  }
  .card section:nth-child(1) {
    grid-area: a;
    width: 40em;
    padding: 2.5em !important;
  }
  .card section:nth-child(2) {
    grid-area: b;
    padding: 2.5em !important;
  }
  .card section:nth-child(3) {
    grid-area: c;
    padding: 2.5em !important;
  }
}